@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
      
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  
}

img {
  height: 100%;
  width: 100%;
 
}
.test{
  height: 150px;
  width: 150px;
 
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 30px;
 
}
.card-item{
    background-color: white;
}
section{
    background: radial-gradient(#525252, #131313);
}
a {
  text-decoration: none;
  color: black;
}

.cta {
  padding: 10px 45px;
  border-radius: 50px;
  background-color:  #38d39f/*#ff52bf*/;
  color: white;
  font-weight: 700;
  -webkit-box-shadow: -2px 2px 20px 0px #0000001f;
          box-shadow: -2px 2px 20px 0px #0000001f;
  font-size: .9rem;
}

#header {
  width: 100%;
  min-height: 100vh;
  padding: 100px 0;
  display: block;
  /*background-image: url(../images/bg-hero-mobile.svg);*/
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #323232; /*#ebfbff*/ 
  color: white;
}

#header .container {
  min-height: calc(100vh - 200px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#header .container .nav {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .container .nav .logo {
  width: 120px;
}

#header .container .nav .cta-header {
    background-color: white;
  
  color: black;
}


#header .container .hero {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#header .container .hero .hero-info h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.3rem;
}

#header .container .hero .hero-info p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 50px;
}

#header .container .hero .hero-info .cta-hero {
  padding: 15px 50px;
  font-size: 1rem;
}

#header .container .hero .hero-img img {
  max-width: 600px;
  margin-top: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

#cards {
  padding: 100px 0;
}

#cards .container .card-item {
  padding: 50px 30px;
  -webkit-box-shadow: -2px 2px 20px 0px #00000013;
          box-shadow: -2px 2px 20px 0px #00000013;
  margin-bottom: 50px;
  border-radius: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#cards .container .card-item .card-info {
  margin-top: 30px;
}

#cards .container .card-item .card-info h3 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

#cards .container .card-item .card-info p {
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #636e72;
}

#cta-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  margin-bottom: -100px;
}

#cta-card .container .card {
  width: 100%;
  padding: 30px;
  text-align: center;
  -webkit-box-shadow: -2px 2px 20px 0px #00000013;
          box-shadow: -2px 2px 20px 0px #00000013;
          
  border-radius: 10px;
}

#cta-card .container .card h2 {
  font-size: 1.3rem;
  margin-bottom: 30px;
}


@media only screen and (min-width: 768px) {
  #cards .container .card-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 50px 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  #cards .container .card-item .card-info {
    margin-right: 50px;
  }
  #cards .container .card-item .card-info h3 {
    font-size: 1.7rem;
  }
  #cards .container .card-item .card-info p {
    font-size: 1rem;
  }
  #cards .container .card-item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #cards .container .card-item:nth-child(even) .card-info {
    margin-left: 50px;
  }
  #cta-card .container .card {
    padding: 50px;
  }
  #cta-card .container .card h2 {
    font-size: 2rem;
    margin-bottom: 50px;
  }
  #cta-card .container .card a {
    display: inline-block;
    padding: 20px 60px;
    font-size: 1.2rem;
  }
  #footer .container .footer-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #footer .container .footer-info .footer-1,
  #footer .container .footer-info .footer-2,
  #footer .container .footer-info .footer-3,
  #footer .container .footer-info .footer-4 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 50px;
  }
  #footer .container .footer-info .footer-1 {
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
    margin: 0;
  }
  #footer .container .footer-info .footer-2,
  #footer .container .footer-info .footer-3,
  #footer .container .footer-info .footer-4 {
    margin-top: 70px;
  }
  #footer .container .footer-copyright {
    text-align: right;
  }
}

@media only screen and (min-width: 1000px) {
  #header {
    
    background-position: center;
    background-size: cover;
  }
  #header .container .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
  #header .container .hero .hero-img {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  #header .container .hero .hero-info {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-right: 50px;
  }
  #header .container .hero .hero-info h1 {
    font-size: 2.2rem;
  }
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    width: 100%;
    background-color: black;
    font-family: 'Roboto'sans-serif;
  
    
}


.logo {
    color: rgb(226, 226, 226);
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 90%;

}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
    z-index: 20;
   
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
  

}

/*.menu-bar
{
    background: rgb( 0, 100, 0);
    text-align: center;
}*/

.menu-bar ul {
    /*display: /*inline-flex flex;*/
    list-style: none;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: black;
    font-family: 'Roboto'sans-serif;
  
}

.menu-bar ul li {
    width: 120px;
    margin: 50px;
    padding: 30px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}


 .menu-bar ul li:hover {
    background:#38d39f;/*red*/
    /*border-radius: 30px;*/
    padding: 10px 45px;
    border-radius: 50px;
    width: auto;

}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background:
        /* rgb( 0, 100, 0)*/
        black;
    margin-top: 15px;
    margin-left: -15px;
    z-index: 50;

}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
    

}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: #38d39f;

}

.fa-angel-right {
    float: right;
}

.sub-menu-2 {
    display: none;

}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px; /*140*/
    /*background:/* rgb( 0, 100, 0);*/
    

}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 152vh; /*92*/
        top: 15vh; /*8*/
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%; /*50*/
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 10; /*new*/
        overflow-x: hidden;

      
    }

    .nav-links li {
         opacity: 0;
       
    }
  

    .burger {
        display: block;
    }

}


.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    form {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
/* {
    margin: 0;
    padding: 0;
    color: cornsilk;
    box-sizing: border-box;
    font-family: 'Roboto'sans-serif;
}*/

footer {
    bottom: 0px;
    width: 100%;
    background: black;
    margin: 0;
    padding: 0;
    color:#fff;
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.box h2:hover{
  color:#38d39f ;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
    background: black;
    
}

.box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: black;
}

.box .content::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #38d39f;/*red*/
    top: -10px;
    ;
}

.left .content p {
    text-align: justify;
}

.left .content .social {
    padding: 0 2px;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: black;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    color: #fff;
}

.left .content .social a span:hover {
    background: #38d39f; /*red*/
}

.center .content .fas {
    font-size: 1.4375rem;
    background: black;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fas:hover {
    background: #38d39f;/*red*/
}

.center .content .text {
    font-size: 1.0626rem;
    font-weight: 500;
    padding-left: 10px;
    color: #fff;
}

.center .content .phone {
    margin: 10px 0;
}

.right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2.5px;
    color: #fff;
}

.right form .msg {
    margin-top: 10px;
}

.right form input,
.right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    /*background:#38d39f;/*red*/
    /*border-radius: 30px;*/
    padding: 10px 45px;
    border-radius: 50px;
  
    border-color: #38d39f;
 
}
.msg .email{
  background: black;
}
.content{
  background: black;
}

.right form input:focus {
  outline-color: #38d39f;
}

.right form textarea:focus {
    outline-color: #38d39f;
}

.right form input {
    height: 35px;
}

.right form .fgh {
    margin-top: 10px;
}

.right form .fgh button {
    height: 40px;
    width: 100%;
    background:#38d39f;/*red*/
    /*border-radius: 30px;*/
    padding: 10px 45px;
    border-radius: 50px;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 3s;
    color: #fff;
}

.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: black;
}

.bottom center span {
    color: #fff;
}

.bottom center a {
    color: #fff;
    text-decoration: none;
}

.bottom center a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-content .box {
        margin: 5px 0;
    }
}

a {
    text-decoration: none;
}