
* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
   
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
    background: #323232;
    overflow-x: hidden;
}
header {
	text-align: center;
	padding: 70px 0px 50px 0;
}
header h1 {
	font-size: 1.5rem;
	font-weight: 200;
	color: white;/*hsl(234, 12%, 34%)*/
}
header h2 {
	font-weight: 700;
	font-size: 1.5rem;
	color: #38d39f;/*hsl(234, 12%, 34%)*/
	margin-bottom: 1.5rem;
}
header p {
	font-weight: 400;
	font-size: 1rem;
	color: white;/*hsl(229, 6%, 66%)*/
	max-width: 500px;
	margin: 0 auto;
}
section{
    padding: 0 30px; 
}
.cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    margin-bottom: 80px;
}
.card {
	box-shadow: 2px 8px 14px 0px white;/*hsla(229, 6%, 66%, 0.6)*/
	border-radius: 8px;
	padding: 30px;
	margin: 2rem 0;
	max-width: 400px;
}

.card.aqua {
	border-top: 5px solid  #38d39f/*hsl(180, 62%, 55%)*/;
    margin: 0;
    
}
.card.red {
	border-top: 5px solid  #38d39f/*hsl(0, 78%, 62%)*/;
}
.card.orange {
	border-top: 5px solid  #38d39f/*hsl(34, 97%, 64%)*/;
}
.card.blue {
	border-top: 5px solid  #38d39f/*hsl(212, 86%, 64%)*/;
	margin: 0;
}

.card img {
	display: block;
	margin-left: auto;
	margin-top: 30px;
}
.card h2 {
	color: #38d39f;/*hsl(234, 12%, 34%)*/
	font-size: 1.5rem;
}
.card p {
	font-size: 1rem;
	color: white; /*hsl(229, 6%, 66%)*/
}

@media only screen and (min-width: 1200px) {
	body {
		font-size: 18px;
	}
	header h1,
	header h2 {
		font-size: 2em;
	}
	header p {
		font-size: 1.1rem;
	}
	.cards {
		flex-direction: row;
	}
	.card {
		margin: 2rem;
	}
}
img{
    width: 6rem;
    height: 6rem;
}

* {
    margin: 0px;
    padding: 0px;
}

/*nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    width: 120%;
    background-color: black;
    font-family: 'Roboto'sans-serif;
  
    
}


.logo {
    color: rgb(226, 226, 226);
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 90%;

}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
    z-index: 20;
   
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
  

}

/*.menu-bar
{
    background: rgb( 0, 100, 0);
    text-align: center;
}*/

/*.menu-bar ul {
    /*display: /*inline-flex flex;
    list-style: none;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: black;
    font-family: 'Roboto'sans-serif;
  
}

.menu-bar ul li {
    width: 120px;
    margin: 50px;
    padding: 30px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}

.menu-bar ul li:hover {
    background:#38d39f;/*red*/
    /*border-radius: 30px;
    padding: 10px 45px;
    border-radius: 50px;
    width: auto;

}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background:
        /* rgb( 0, 100, 0)
        black;
    margin-top: 15px;
    margin-left: -15px;
    z-index: 50;

}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
    

}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: #38d39f;

}

.fa-angel-right {
    float: right;
}

.sub-menu-2 {
    display: none;

}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px; /*140*/
    /*background:/* rgb( 0, 100, 0);
    

}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 152vh; /*92
        top: 15vh; /*8
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%; /*50
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 10; /*new
    

      
    }*/

/*.nav-links li {
         opacity: 0;
       
    }
  

    .burger {
        display: block;
    }

}


.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    form {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}*/



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: black;
    font-family: 'Roboto'sans-serif;
  
    
}


.logo {
    color: rgb(226, 226, 226);
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 90%;

}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
    z-index: 20;
   
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
  

}

/*.menu-bar
{
    background: rgb( 0, 100, 0);
    text-align: center;
}*/

.menu-bar ul {
    /*display: /*inline-flex flex;*/
    list-style: none;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: black;
    font-family: 'Roboto'sans-serif;
  
}

.menu-bar ul li {
    width: 120px;
    margin: 50px;
    padding: 30px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}

.menu-bar ul li:hover {
    background:#38d39f;/*red*/
    /*border-radius: 30px;*/
    padding: 10px 45px;
    border-radius: 50px;
    width: auto;

}
.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background:
        /* rgb( 0, 100, 0)*/
        black;
    margin-top: 15px;
    margin-left: -15px;
    z-index: 50;

}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
    

}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color:  #38d39f;;

}

.fa-angel-right {
    float: right;
}

.sub-menu-2 {
    display: none;

}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px; /*140*/
    /*background:/* rgb( 0, 100, 0);*/
    

}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 120%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 152vh; /*92*/
        top: 15vh; /*8*/
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%; /*50*/
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 10; /*new*/

      
    }

    .nav-links li {
         opacity: 0;
       
    }
  

    .burger {
        display: block;
    }

}


.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    form {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


footer {
    bottom: 0px;
    width: 100%;
    background: black;
    margin: 0;
    padding: 0;
    color:#fff;
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.box h2:hover{
  color:#38d39f ;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
    
}

.box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: black;
}

.box .content::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #38d39f;/*red*/
    top: -10px;
    ;
}

.left .content p {
    text-align: justify;
}

.left .content .social {
    padding: 0 2px;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: black;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    color: #fff;
}

.left .content .social a span:hover {
    background: #38d39f; /*red*/
}

.center .content .fas {
    font-size: 1.4375rem;
    background: black;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fas:hover {
    background: #38d39f;/*red*/
}

.center .content .text {
    font-size: 1.0626rem;
    font-weight: 500;
    padding-left: 10px;
    color: #fff;
}

.center .content .phone {
    margin: 10px 0;
}

.right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2.5px;
    color: #fff;
}

.right form .msg {
    margin-top: 10px;
}

.right form input,
.right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    /*background:#38d39f;/*red*/
    /*border-radius: 30px;*/
    padding: 10px 45px;
    border-radius: 50px;
  
    border-color: #38d39f;
 
}

.right form input:focus {
  outline-color: #38d39f;
}

.right form textarea:focus {
    outline-color: #38d39f;
}

.right form input {
    height: 35px;
}

.right form .fgh {
    margin-top: 10px;
}

.right form .fgh button {
    height: 40px;
    width: 100%;
    background:#38d39f;/*red*/
    /*border-radius: 30px;*/
    padding: 10px 45px;
    border-radius: 50px;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 3s;
    color: #fff;
}

.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: black;
}

.bottom center span {
    color: #fff;
}

.bottom center a {
    color: #fff;
    text-decoration: none;
}

.bottom center a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
        width: 120%;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-content .box {
        margin: 5px 0;
    }
}

a {
    text-decoration: none;
}