body, html {
    background: black;
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #fff;
}
h1 {
    font-size: 3.5em;
    line-height: 3.8em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: cornsilk;
    margin: 1.2em;
    text-align: center;

}
h2 {
    font-size: 1.5em;
    line-height: 3.8em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: cornsilk;
    margin: 0em;
    text-align: center;
}

article {
    font-size: 2.5em;
    line-height: 3.8em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: cornsilk;
    margin: 2em;
    text-align: justify;
    display: block;

}
.text {
    width: 70%;
    margin: 1em auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#email {
    text-decoration: none;
    color: cornsilk;
}
footer {
    display: block;
    background: #000000;
    text-align: center;
    padding: 20px;
}
footer ul {
    display: block;
    width: 100%;
    max-width: 980px;
    text-align: center;
    margin: 0px auto;
}
footer ul li {
    display: inline;
    font-size: 2.0em;
    line-height: 2.8;
    color:black;
    padding: 0em 0.652em 0em 0.625em;

}
footer ul li a {
    color: cornsilk;
    text-decoration: none;
}

@media screen and (min-width:200px) {
    body, html, main {
        font-size: 50%; 
    }
}
@media screen and (min-width:290px) {
    body, html, main {
        font-size: 60%; 
    }
}
nav ul li a.active {
    border-bottom:0.188em solid #001524;
}

@media screen and (min-width:600px) {
    body, html {
        font-size:48%; 
    }
}
@media screen and (min-width:600px) {
    body, html {
        font-size:53%; 
    }
}
@media screen and (min-width:800px) {
    body, html {
        font-size:57%; 
    }
}
@media screen and (min-width:1200px) {
    body, html {
        font-size:70%; 
    }
}
header {
    background: #000000;
    width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center; 
    transition: 300ms all;
    height: 80px;
    height: 8rem;
    z-index: 10;
}
header nav#normal {
    color: #38d39f;
    display: inline-block;
}
@media screen and (max-width:800px) {
    header nav#normal { display: none;}
}

header nav#normal ul {
margin: 1.5em;
padding:0;
transition: all 300ms;
display: inline block;
} 
header nav#normal ul li {
    margin: 0;
    padding:0;
    float: left;
    list-style: none;
    position: relative;
    transition: all 300ms;
    }

header nav#normal ul li a {
    display: inline-block;
    padding: 2.17rem;
    float: left;
    position: relative;
    min-width: 12rem;
    text-align: center;
    font-size: 2rem;
    color: cornsilk;
    margin: 0 1px 0 0;
    text-decoration: none;
    background: #e84118;
    font-weight: 300;
    transition: all 300ms;
    font-family:'Roboto', sans-serif;
    font-style: normal; font-weight: 500;
}

header nav#normal ul li:hover > a{
    background:cornsilk;
    color: #e84118;
    /*schrift fetter machen */
}
header nav#normal ul li ul {
    overflow: hidden;
    position: absolute;
    top:100%;
    left: 0;
    width: 100%;
    transition: 300ms all;
    max-height: 0;
}
header nav#normal ul li ul li {
    border-bottom:1px solid rgb(94, 255, 0); 
}
header nav#normal ul li:hover > ul{
    max-width: 700px;
}


header nav#mobile {
    color: #e84118;
    display: none;
}

@media screen and (max-width: 800px) {
    header nav#mobile {display: block;}
}

header nav#menu {
    padding: 2.17rem 5% 2.17 5%;
    float: left;
    width: 90%;
    text-align: center;
    font-size: 2rem;
    color: cornsilk;
    cursor: pointer;
    font-weight: 300;
    transition: all 500ms;
    font-family:'Roboto', sans-serif;
}
header nav#mobile ul {
    width: 100%;
    margin: 0;
    max-height: 0;
    transition: all 500ms;
    overflow: hidden;
    float: left;
}
header nav#mobile:hover > ul {
    max-height: 900px; 

}
header nav#mobile ul li {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    list-style: none;
    position: relative;
    transition: all 500ms;
}
header nav#mobile ul li a {
    display: inline-block;
    padding: 2.17rem 5% 2.17 5%;
    float: left;
    min-width: 12rem;
    width:90%;
    text-align: center;
    font-size: 2rem;
    color: cornsilk;
    text-decoration: none;
    background: #e84118;
    font-weight: 300;
    transition: all 500ms;
    font-family:'Roboto', sans-serif;
}
header nav#mobile ul li:hover > a{
    background:   cornsilk; 
    color: #e84118;
}
header nav#mobile ul li ul {
    width: 100%;
    transition: all 500ms;
    max-width: 0;
    overflow: hidden;
    float: left;
}
header nav#mobile ul li ul li a {
    display: block;
    float: left;
    background:  #e84118;
    transition: all 500ms;

}
header nav#mobile ul li ul li a {
    background:  #e84118;
}

header nav#mobile ul li:hover > ul {
    max-height: 500px;

}
*{
    margin: 0;
    padding: 0;
    color: cornsilk;
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif;
}

footer {
    bottom: 0px;
    width: 100%;
    background: black;
}
.main-content {
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
    position: relative;
}
.box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: black;
}
.box .content::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: red;
    top: -10px; ;
}
.left .content p{
    text-align: justify;
}
.left .content .social {
    padding: 0 2px;
}
.left .content .social a span {
    height: 40px;
    width: 40px;
    background: black;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.left .content .social a span:hover{
    background: red;
}
.center .content .fas{
    font-size: 1.4375rem;
    background: black;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}
.center .content .fas:hover{
    background: red;
}
.center .content .text{
    font-size: 1.0626rem;
    font-weight: 500;
    padding-left: 10px;
}
.center .content .phone {
    margin: 10px 0;
}
.right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2.5px;
    color: #656565;
}
.right form .msg{
    margin-top: 10px;
}
.right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: black;
    padding-left: 10px;
    border: 1px solid #222222;
}
.right form input:focus{
    outline-color: #3498db;
}
.right form textarea:focus{
    outline-color: #3498db;
}
.right form input{
    height: 35px;
}
.right form .fgh{
    margin-top: 10px;
}
.right form .fgh button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: red;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 3s;
}
.bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: black;
}
.bottom center span{
    color: #656565;
}
.bottom center a{
    color: red;
    text-decoration: none;
}
.bottom center a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 900px){
    footer{
        position: relative;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
a {
    text-decoration: none;
}
