body, html {
    margin: 0;
    padding: 0;
    background: #000;
}
section {
    height: 100vh;
    
}
video {
     object-fit: cover;
}
h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #dddddd;
    font-size: 5em;
    font-family: sans-serif;
    letter-spacing: 0.2em;
   

}
h1 span {
     opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
}

@keyframes animate{
    0%
    {
        opacity: 0;
        transform: rotate(90deg);
        filter: blur(10px);
    }
    100%
    {
        opacity: 1;
        transform: rotate(0deg);
        filter: blur(0px);
    }
}
h1 span:nth-child(1){
    animation-delay: 1s;
}
h1 span:nth-child(2){
    animation-delay: 1.5s;
}
h1 span:nth-child(3){
    animation-delay: 2.0s;
}
h1 span:nth-child(4){
    animation-delay: 2.5s;
}
h1 span:nth-child(5){
    animation-delay: 3.0s;
}
h1 span:nth-child(6){
    animation-delay: 3.25s;
}
h1 span:nth-child(7){
    animation-delay: 3.5s;
}
h1 span:nth-child(8){
    animation-delay: 3.75s;
}
h1 span:nth-child(9){
    animation-delay: 4s;
}
h1 span:nth-child(10){
    animation-delay: 4.25s;
}
h1 span:nth-child(11){
    animation-delay: 4.50s;
}
h1 span:nth-child(12){
    animation-delay: 4.75s;
}
h1 span:nth-child(13){
    animation-delay: 5s;
}
h1 span:nth-child(14){
    animation-delay: 5.25s;
}
h1 span:nth-child(15){
    animation-delay: 5.5s;
}
h1 span:nth-child(16){
    animation-delay: 5.65s;
}
h1 span:nth-child(17){
    animation-delay: 6s;
}
h1 span:nth-child(18){
    animation-delay: 6.15s;
}
h1 span:nth-child(19){
    animation-delay: 6.30s;
}
@media screen and (min-width:200px) {
    h1 {
        font-size:48%; 
    }
}
@media screen and (min-width:290px) {
    h1 {
        font-size: 50%; 
    }
}
@media screen and (min-width:600px) {
    h1 {
        font-size: 100%; 
    }
}
@media screen and (min-width:200px) {
    h1 {
        font-size:48%; 
    }
}
@media screen and (min-width:290px) {
    h1 {
        font-size: 50%; 
    }
}
@media screen and (min-width:290px) {
    h1 {
        font-size: 100%;
    }
}
@media screen and (min-width:600px) {
    h1 {
        font-size: 100%; 
    }
}
@media screen and (min-width:600px) {
    h1 {
        font-size:48%; 
    }
}
@media screen and (min-width:600px) {
    h1 {
        font-size:53%; 
    }
}
@media screen and (min-width:800px) {
    h1 {
        font-size:57%; 
    }
}
@media screen and (min-width:1200px) {
    h1 {
        font-size:70%; 
    }
}
@media screen and (max-width:300px){
    h1 {
        font-size: 15%;
    }
}



