* {
    margin: 0px;
    padding: 0px;
}

section{
    background: radial-gradient(#525252, #131313);
    font-size: 3rem;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: black;
    font-family: 'Roboto'sans-serif;
}


.logo {
    /*color: rgb(226, 226, 226);*/
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 90%;

}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;

}

/*.menu-bar
{
    background: rgb( 0, 100, 0);
    text-align: center;
}*/

.menu-bar ul {
    /*display: /*inline-flex flex;*/
    list-style: none;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: black;
    font-family: 'Roboto'sans-serif;
}

.menu-bar ul li {
    width: 120px;
    margin: 50px;
    padding: 30px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}

.active,
.menu-bar ul li:hover {
    background: red;
    border-radius: 30px;
    width: auto;

}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background:
        /* rgb( 0, 100, 0)*/
        black;
    margin-top: 15px;
    margin-left: -15px;

}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;

}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;

}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: #b2ff00;

}

.fa-angel-right {
    float: right;
}

.sub-menu-2 {
    display: none;

}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    /*background:/* rgb( 0, 100, 0);*/

}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 152vh;
        top: 15vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 10;
    }

    .nav-links li {
        opacity: 0
    }

    .burger {
        display: block;
    }

}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    form {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

html {
    font-size: 62.5%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-family: "Lobster", sans-serif;
    font-weight: lighter;
}

h2 {
    font-size: 8rem;
    font-family: "Lobster", sans-serif;
    font-weight: lighter;
}

h3 {
    font-size: 3.5rem;
    color:white;
}

h4 {
    font-size: 3rem;
}

p {
    font-size: 5.5rem;
    position: center;
}

li {
    font-size: 2rem;
}

a {
    color: white;
    text-decoration: none;
}

.home {
    background: radial-gradient(#525252, #131313);
}

body,
html {
    background: black;
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #fff;
}

h1 {
    font-size: 5.5em;
    line-height: 2.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: cornsilk;
    margin: 2.0em;
    text-align: center;

}

h2 {
    font-size: 2.5em;
    line-height: 3.0em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: cornsilk;
    margin: 0em;
    text-align: center;
}

article {
    font-size: 2.5em;
    line-height: 2.8em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: cornsilk;
    margin: 2em;
    text-align: justify;
    display: block;

}


* {
    margin: 0;
    padding: 0;
    color: cornsilk;
    box-sizing: border-box;
    font-family: 'Roboto'sans-serif;
}



@media screen and (min-width:200px) {

    body,
    html {
        font-size: 48%;
    }
}

@media screen and (min-width:290px) {

    body,
    html {
        font-size: 50%;
    }
}

nav ul li a.active {
    border-bottom: 0.188em solid #001524;
}

@media screen and (min-width:600px) {

    body,
    html {
        font-size: 48%;
    }
}

@media screen and (min-width:600px) {

    body,
    html {
        font-size: 53%;
    }
}

@media screen and (min-width:800px) {

    body,
    html {
        font-size: 57%;
    }
}

@media screen and (min-width:1200px) {

    body,
    html {
        font-size: 70%;
    }
}

@media screen and (max-width:300px) {

    body,
    html {
        font-size: 15%;
    }
}



* {
    margin: 0;
    padding: 0;
    color: cornsilk;
    box-sizing: border-box;
    font-family: 'Roboto'sans-serif;
}

footer {
    bottom: 0px;
    width: 100%;
    background: black;
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: black;
}

.box .content::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: red;
    top: -10px;
    ;
}

.left .content p {
    text-align: justify;
}

.left .content .social {
    padding: 0 2px;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: black;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.left .content .social a span:hover {
    background: red;
}

.center .content .fas {
    font-size: 1.4375rem;
    background: black;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fas:hover {
    background: red;
}

.center .content .text {
    font-size: 1.0626rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone {
    margin: 10px 0;
}

.right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2.5px;
    color: #656565;
}

.right form .msg {
    margin-top: 10px;
}

.right form input,
.right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: black;
    padding-left: 10px;
    border: 1px solid #222222;
}

.right form input:focus {
    outline-color: #3498db;
}

.right form textarea:focus {
    outline-color: #3498db;
}

.right form input {
    height: 35px;
}

.right form .fgh {
    margin-top: 10px;
}

.right form .fgh button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: red;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 3s;
}

.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: black;
}

.bottom center span {
    color: #656565;
}

.bottom center a {
    color: red;
    text-decoration: none;
}

.bottom center a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-content .box {
        margin: 5px 0;
    }
}

a {
    text-decoration: none;
}

footer {
    bottom: 0px;
    width: 100%;
    background: black;
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: black;
}

.box .content::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: red;
    top: -10px;
    ;
}

.left .content p {
    text-align: justify;
}

.left .content .social {
    padding: 0 2px;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: black;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.left .content .social a span:hover {
    background: red;
}

.center .content .fas {
    font-size: 1.4375rem;
    background: black;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fas:hover {
    background: red;
}

.center .content .text {
    font-size: 1.0626rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone {
    margin: 10px 0;
}

.right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2.5px;
    color: #656565;
}

.right form .msg {
    margin-top: 10px;
}

.right form input,
.right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: black;
    padding-left: 10px;
    border: 1px solid #222222;
}

.right form input:focus {
    outline-color: #3498db;
}

.right form textarea:focus {
    outline-color: #3498db;
}

.right form input {
    height: 35px;
}

.right form .fgh {
    margin-top: 10px;
}

.right form .fgh button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: red;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 3s;
}

.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: black;
}

.bottom center span {
    color: #656565;
}

.bottom center a {
    color: red;
    text-decoration: none;
}

.bottom center a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-content .box {
        margin: 5px 0;
    }
}

a {
    text-decoration: none;
}


* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-family: "Lobster", sans-serif;
    font-weight: lighter;
}

h2 {
    font-size: 4rem;
    font-family: "Lobster", sans-serif;
    font-weight: lighter;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 3rem;
}

p {
    font-size: 2.5rem;
}

li {
    font-size: 2rem;
}

a {
    color: white;
    text-decoration: none;
}

