.tabs {
    display: inline-block;
}

.tab {
    width: unset; /* 100%;*/
    height: 50px;
    padding: 5px;
    background-color: unset;
    display: inline-block;
}

.tab.active {
    background-color: var(--accent);
}