#submenuDynamicLinks {
    min-height: initial !important;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@600&display=swap');
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#tags {
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    min-height: 50px;
    width: 100%;
}

#vorschau-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

#addImage-container {
    width: 100%;
    display: grid;
    grid-template-columns: 97% 3%;
    align-items: flex-end;
}

#vorschau-überschrift {
    color: #707070;
}

#vorschau-datum {
    width: 100%;
    text-align: right;
    color: #707070;
}

img {
    max-width: 50%;
    vertical-align: right;
    /*max-height: 50%;*/ /*macht irgendeinen shit mit firefox*/
    width: auto;
    height: auto;
    float: right;
    border-radius: 15px;
}

input,
#textarea {
    border-radius: 15px;
    border-color: #707070;
    border-style: solid;
    border-width: 2px;
    outline: none;
}

#textarea {
    width: 100%;
    padding: 15px;
}

textarea {
    resize: vertical;
    font-family: 'Roboto', sans-serif;
    min-height: 50px;
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    outline: none;
    width: 100%;
    cursor: auto;
}

#vorschau-tags {
    width: fit-content;
    padding: 10px;
    color: white;
    margin-top: 15px;
    background-color: #707070;
    border-radius: 25px;
}

#vorschau-text {
    color: white;
}

.input-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto;
}

#überschrift {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 15px;
    min-height: 50px;
    margin: 0 auto;
    width: 100%;
}

.buttons {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    grid-gap: 1%;
}

#editorButton,
#previewButton {
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    width: 100%;
    border-color: transparent;
    color: white;
    font-weight: 700;
    font-size: 0.9rem;
    outline: none;
    cursor: pointer;
}

#speichern,
#Abbrechen {
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 15px;
    border-radius: 50px;
    border-color: transparent;
    background-color: #16cc68;
    color: white;
    outline: none;
    font-weight: 700;
    font-size: 0.9rem;
    cursor: pointer;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border-radius: 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    min-height: 100vh;
}

.card-item {
    background-color: white;
}
section {
    background: #272727;
}
a {
    text-decoration: none;
    color: black;
}

#cards {
    padding: 100px 0;
}

#cards .container .card-item {
    min-width: 270px;
    padding: 50px 30px;
    -webkit-box-shadow: -2px 2px 20px 0px #272727;
    box-shadow: -2px 2px 20px 0px #272727;
    margin-bottom: 25px;
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

#cards .container .card-item .card-info h3 {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

#cards .container .card-item .card-info p {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5rem;
}

#vorschau-design {
    background-color: #272727;
    border-radius: 15px;
    border: 1px solid #707070;
}

.drop-zone {
    width: 100%;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border: 2px dashed#707070;
    border-radius: 15px;
}

.drop-zone__prompt {
    color: #707070;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 200px;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #707070;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: white;
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
}

#deleteThumbnailButton {
    color: #707070;
    width: fit-content;
    cursor: pointer;
    padding-bottom: 5px;
    padding-left: 25%;
}

textarea::-webkit-scrollbar {
    width: 1em;
}
textarea::-webkit-scrollbar-track {
    border-radius: 10px;
}
textarea::-webkit-scrollbar-thumb {
    background: #707070;
    border-radius: 20px;
}
textarea::-webkit-scrollbar-thumb:hover {
    background: #707070bf;
}
textarea::-webkit-scrollbar-thumb:active {
    background: #70707080;
}

textarea::-webkit-scrollbar-corner {
    border-radius: 10px;
}

section {
    padding: 0 30px;
}
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card {
    box-shadow: 2px 8px 14px 0px rgb(12, 12, 12);
    border-radius: 15px;
    max-width: 360px;
    max-height: 350px;
    min-height: 350px;
    overflow: hidden;
    transition: 0.3s;
}
.card:hover {
    transform: scale(1.02);
    transform-origin: center;
}
.card.aqua {
    border-top: 5px solid #16cc68;
    margin-bottom: 100px;
}
.card.aqua img {
    padding-top: 81px;
    width: 360px;
}
.card.red {
    border-top: 5px solid #16cc68;
    margin-bottom: 100px;
}
.card.red img {
    padding-top: 81px;
    width: 360px;
}
.card.orange {
    border-top: 5px solid #16cc68;
    margin-bottom: 100px;
}
.card.orange img {
    padding-top: 81px;
    width: 360px;
}
.card.blue {
    border-top: 5px solid #16cc68;
    margin-bottom: 100px;
}
.card.blue img {
    padding-top: 44px;
    width: 360px;
}
.card h2 {
    font-family: Roboto;
    color: #16cc68;
    padding: 30px;
}
.card p {
    padding: 0px 30px;
    font-size: 16px;
    color: white;
}

/* ================================= Standard ================================= */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    background: #323232;
}
.bod {
    padding: 70px;
    color: #fff;
    text-decoration: none;
}
header {
    margin: 100px 50px 0 50px;
    text-align: center;
    padding-top: 50px;
}

header h1 {
    font-size: 24px;
    color: white;
}
header h2 {
    font-size: 24px;
    color: #16cc68;
}
header p {
    padding-top: 50px;
    font-size: 16px;
    color: white;
    max-width: 800px;
    margin: auto;
}

#sidebar {
    position: relative;
    margin-top: -50px;
    height: 610px;
    width: 600px;
}
#sidebar ul {
    width: 600px;
    overflow-y: auto;
    position: absolute;
    height: 625px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #323232;
    box-shadow: none;
}
::-webkit-scrollbar-thumb {
    opacity: 10%;
    background: rgba(85, 85, 85, 0.39);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85);
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;

    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 39, 39);
    box-shadow: 2px 8px 14px 0px rgba(12, 12, 12, 0.596);
}

.nav-links {
    display: flex;
    justify-content: center;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    color: rgb(226, 226, 226);
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
    z-index: 20;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

.menu-bar ul {
    margin: -40px 0 -40px 0;
    list-style: none;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    font-family: 'Roboto', sans-serif;
}

.menu-bar ul li {
    padding: 0 30px;
    transition: all 0.1s ease;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}

.menu-bar ul li:hover {
    background: #16cc68;
    border-radius: 50px;
    padding: 10px 30px 10px 30px;
    transform: scale(1.02);
    transform-origin: center;
}
.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: flex;
    position: fixed;
    background: rgba(20, 20, 20, 0.959);
    box-shadow: 2px 8px 14px 0px rgba(12, 12, 12, 0.596);
    border-radius: 15px;
    margin-top: 10px;
    margin-left: -32px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 20px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: center;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: #16cc68;
}

.fa-angel-right {
    float: right;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -70px;
    margin-left: 140px;
}

.nav-active {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: tomato;
}

.toggle .line2 {
    opacity: 0;
    background-color: tomato;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: tomato;
}

footer {
    background-color: rgb(39, 39, 39);
    box-shadow: 2px 0px 14px 8px rgba(12, 12, 12, 0.596);
    min-height: 150px;
    padding: 30px;
    font-family: Roboto;
    line-height: 120%;
}
.footer ul {
    list-style: none;
    columns: 2 12em;
}

.titleR {
    text-align: right;
    padding-right: 50px;
    color: #16cc68;
    font-size: 24px;
    line-height: 50px;
}
.buttonsR {
    padding-right: 50px;
    text-align: right;
}
.buttonsR a {
    color: white;
    line-height: 35px;
}
.buttonsR a:hover {
    color: #16cc68;
}

.titleS {
    text-align: left;
    padding-left: 50px;
    color: #16cc68;
    font-size: 24px;
    line-height: 50px;
}
.buttonsS {
    padding-left: 50px;
    text-align: left;
}
.buttonsS a {
    color: white;
    line-height: 35px;
}
.buttonsS a:hover {
    color: #16cc68;
}
.cc {
    margin-top: 40px;
    text-align: center;
    color: white;
    font-size: 15px;
}
a {
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    header {
        padding-top: 10px;
    }
    body {
        overflow-x: hidden;
    }
    .nav-links {
        z-index: 1;
        position: absolute;
        min-width: 100%;
        right: 0px;
        background-color: rgb(39, 39, 39);
        box-shadow: 2px 8px 14px 0px rgba(12, 12, 12, 0.596);
        flex-direction: column;
        transform: translateX(100%);
    }
    .menu-bar ul li {
        z-index: 1;
        margin-top: 80px;
        margin-bottom: 50px;
        text-align: center;
        width: 100%;
    }
    .menu-bar ul li:hover {
        background-color: rgb(39, 39, 39);
        border-radius: 50px;
        padding: 0px 30px 50px 30px;
        transform-origin: center;
        height: 300px;
    }
    .menu-bar ul li:first-child:hover {
        height: 100%;
        padding: 0px 30px 0px 30px;
    }

    .nav-links li {
        opacity: 0;
    }
    .menu-bar ul li:hover .sub-menu-1 {
        display: flex;
        position: fixed;
        background-color: rgb(39, 39, 39);
        box-shadow: none;
        min-width: 100%;
        border-radius: 15px;
        margin-top: 10px;
    }
    .menu-bar ul li:hover .sub-menu-1 ul {
        margin-top: 50px;
        width: 100%;
        display: block;
    }
    .menu-bar ul li:hover .sub-menu-1 ul li {
        margin-top: -30px;
        width: 100%;
        align-self: center;
        text-align: center;
        border-bottom: 1px dotted #16cc68;
        background: transparent;
        border-radius: 0;
    }
    .menu-bar ul li:hover .sub-menu-1 ul li:hover {
        height: 40px;
    }
    .menu-bar ul li:hover .sub-menu-1 ul li:last-child {
        border-bottom: 1px dotted #16cc68;
    }

    .hover-me:hover .sub-menu-2 {
        position: absolute;
        display: none;
    }

    .burger {
        display: block;
    }
    .footer ul {
        list-style: none;
        columns: 1 12em;
    }
    .footer .titleR {
        padding: 0 0;
        text-align: center;
    }
    .footer .titleS {
        margin-top: 50px;
        padding: 0 0;
        text-align: center;
    }
    .footer .buttonsR {
        padding: 0 0;
        text-align: center;
    }
    .footer .buttonsS {
        padding: 0 0;
        text-align: center;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    form {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 18px;
    }
    header h1,
    header h2 {
        font-size: 2em;
    }
    header p {
        font-size: 1.1rem;
    }
    .cards {
        flex-direction: row;
    }
    .card {
        margin: 2rem;
    }
}

/* ================================= Standard ================================= */
