#submenuDynamicLinks {
    min-height: initial !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    background: #323232;/*url("../assets/shs_masken.blau.png.png") center no-repeat*/
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.error-box{
    width: 100%;
    max-width: 50rem;
    background-color: #181818;
    padding: 2.5rem 2.5rem 8rem;
    text-align: center;
    font-family: sans-serif;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .8);

}

.logo-box{
    width: 6rem;
    height: 6rem;
}

.logo{
    width: 100%;
}

.error-number{
    color: #fff;
    font-size: 3.6rem;
    text-transform: uppercase;
}

.error-message{
    display: inline-block;
    background-color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;
}

.error-description{
    color: #eee;
    font-size: 1.4rem;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    letter-spacing: 1px;
}

.error-cta{
    text-decoration: none;
    color: #eee;
    font-size: 1.7rem;
    /*border: 1px solid #38d39f; /*#957c09
    padding: 1rem 2.5rem;*/
    background-color:#38d39f;/*red*/
    /*border-radius: 30px;*/
    padding: 10px 45px;
    border-radius: 50px;
    transition: background-color .5s;
}

.error-cta:hover{
    background-color:#38d39f;
    color: #fff;

}

@media screen and (min-width: 768px){
    .error-box{
        max-width: 70rem;
    }
    .error-number{
        font-size: 6rem;
    }
    .error-message{
        font-size: 3.5rem;
    }
    .error-description{
        font-size: 1.6rem;
    }
    .error-cta{
        font-size: 2rem;
    }
}
