@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

:root {
    --font: #fff;
    --background: #323232;
    --lighter: #3e3e3e;
    --accent: #16cc68;
}

::selection {
    background: var(--font);
    color: var(--background);
}

::-moz-selection {
    background: var(--font);
    color: var(--accent);
}

.header {
    padding: 5px;
    background-color: var(--lighter);
    background-attachment: scroll;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
}

.header h1 {
    color: var(--font);
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    margin-left: 5px;
}

.content {
    margin: 5px;
    margin-top: 65px;
}

button {
    border: 0px solid var(--accent);
    background-color: var(--accent);
    color: var(--font);
    padding: 5px;
    text-align: center;
}

button:focus {
    outline: none;
}