#submenuDynamicLinks {
    min-height: initial !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto';
    background: #323232;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.error-box {
    border-radius: 50px;
    width: 100%;
    max-width: 50rem;
    background-color: #161616;
    padding: 2.5rem 2.5rem 8rem;
    text-align: center;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
}

.logo-box {
    width: 6rem;
    height: 6rem;
}

.logo {
    width: 100%;
}

.error-number {
    color: #fff;
    font-size: 3.6rem;
    text-transform: uppercase;
}

.error-message {
    display: inline-block;
    border-radius: 15px;
    background-color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;
}

.error-description {
    color: #eee;
    font-size: 1.4rem;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    letter-spacing: 1px;
}

.error-cta {
    text-decoration: none;
    color: #eee;
    font-size: 1.7rem;
    background: #16cc68;
    padding: 10px 45px;
    border-radius: 50px;
}

.error-cta:hover {
    background: #0d9148;
}

@media screen and (min-width: 768px) {
    .error-box {
        max-width: 70rem;
    }
    .error-number {
        font-size: 6rem;
    }
    .error-message {
        font-size: 3.5rem;
    }
    .error-description {
        font-size: 1.6rem;
    }
    .error-cta {
        font-size: 2rem;
    }
}
