#submenuDynamicLinks {
    min-height: initial !important;
}


button {
    padding: 15px;
	background-color: #16cc68;
	border: none;
	border-radius: 50px;
	letter-spacing: 3px;
	font-weight: bold;
	
	
	position: absolute;
  	top: 50%;
	left: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
	
	-ms-transform: translateX(-50%);
  	transform: translateX(-50%);
}

#container {
	/*text-align: center;*/
}

button:focus {
    outline: none;
}

h3 {
    margin: 0px;
}

.moduleRunning {
    color: green;
    font-style: italic;
    margin-right: 5px;
}

.moduleStopped {
    color: red;
    font-style: italic;
    margin-right: 5px;
}

.line0 {
    margin-top: 5px;
    margin-bottom: -5px;
    background-color: var(--lighter);
    padding: 5px;
}

.line1 {
    margin-top: 5px;
    margin-bottom: -5px;
    background-color: var(--background);
    padding: 5px;
}

.lnkMoreInfo {
    text-decoration: underline;
    margin-left: 5px;
}

.lnkMoreInfo:hover {
    color: #16cc68;
    cursor: pointer;
}

.moduleInfo {
    font-size: medium;
    margin-left: 20px;
}

.moduleInfoLv2 {
    margin-left: 40px;
}

* {
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif;
}

@media screen and (min-width: 200px) {
    body,
    html {
        font-size: 48%;
    }
}

@media screen and (min-width: 290px) {
    body,
    html {
        font-size: 50%;
    }
}

nav ul li a.active {
    border-bottom: 0.188em solid #001524;
}

@media screen and (min-width: 600px) {
    body,
    html {
        font-size: 48%;
    }
}

@media screen and (min-width: 600px) {
    body,
    html {
        font-size: 53%;
    }
}

@media screen and (min-width: 800px) {
    body,
    html {
        font-size: 57%;
    }
}

@media screen and (min-width: 1200px) {
    body,
    html {
        font-size: 70%;
    }
}

@media screen and (max-width: 300px) {
    body,
    html {
        font-size: 15%;
    }
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.img img {
    margin-left: -50px;
    width: 500px;
    border-radius: 30px;
}

form {
    width: 360px;
}

.login-content img {
    height: 100px;
}

.login-content h2 {
    margin: 15px 0;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 2.9rem;
}

.login-content .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.login-content .input-div.one {
    margin-top: 0;
}

.i {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    transition: 0.3s;
}

.input-div > div {
    position: relative;
    height: 45px;
}

.input-div > div > h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: 0.3s;
}

.input-div:before,
.input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #38d39f;
    transition: 0.4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
    width: 50%;
}

.input-div.focus > div > h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.focus > .i > i {
    color: red;
}

.input-div > div > input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

.input-div.pass {
    margin-bottom: 4px;
}

.abbrechen {
    display: block;
    text-align: right;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    transition: 0.3s;
    cursor: pointer;
}

a:hover {
    color: #16cc68;
}

.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    /*background-image: linear-gradient(to right, red, red, red);*/
    background-image: linear-gradient(to right, #16cc68, #16cc68, #16cc68);
    background-size: 200%;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-position: right;
}

@media screen and (max-width: 1050px) {
    .container {
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    form {
        width: 290px;
    }

    .login-content h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .img img {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }

    .img {
        display: none;
    }

    .login-content {
        justify-content: center;
    }
}

* {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif;
}

/* ================================= Standard ================================= */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    background: #323232;
}
.bod {
    padding: 70px;
    color: #fff;
    text-decoration: none;
}
header {
    margin: 100px 50px 0 50px;
    text-align: center;
    padding-top: 50px;
}

header h1 {
    font-size: 24px;
    color: white;
}
header h2 {
    font-size: 24px;
    color: #16cc68;
}
header p {
    padding-top: 50px;
    font-size: 16px;
    color: white;
    max-width: 800px;
    margin: auto;
}

#sidebar {
    position: relative;
    margin-top: -50px;
    height: 610px;
    width: 600px;
}
#sidebar ul {
    width: 600px;
    overflow-y: auto;
    position: absolute;
    height: 625px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #323232;
    box-shadow: none;
}
::-webkit-scrollbar-thumb {
    opacity: 10%;
    background: rgba(85, 85, 85, 0.39);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85);
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;

    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 39, 39);
    box-shadow: 2px 8px 14px 0px rgba(12, 12, 12, 0.596);
}

.nav-links {
    display: flex;
    justify-content: center;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    color: rgb(226, 226, 226);
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
    z-index: 20;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

.menu-bar ul {
    margin: -40px 0 -40px 0;
    list-style: none;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    font-family: 'Roboto' sans-serif;
}

.menu-bar ul li {
    padding: 0 30px;
    transition: all 0.1s ease;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}

.menu-bar ul li:hover {
    background: #16cc68;
    border-radius: 50px;
    padding: 10px 30px 10px 30px;
    transform: scale(1.02);
    transform-origin: center;
}
.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: flex;
    position: fixed;
    background: rgba(20, 20, 20, 0.959);
    box-shadow: 2px 8px 14px 0px rgba(12, 12, 12, 0.596);
    border-radius: 15px;
    margin-top: 10px;
    margin-left: -32px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 20px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: center;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: #16cc68;
}

.fa-angel-right {
    float: right;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -70px;
    margin-left: 140px;
}

.nav-active {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: tomato;
}

.toggle .line2 {
    opacity: 0;
    background-color: tomato;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: tomato;
}

footer {
    background-color: rgb(39, 39, 39);
    box-shadow: 2px 0px 14px 8px rgba(12, 12, 12, 0.596);
    min-height: 150px;
    padding: 30px;
    font-family: Roboto;
    line-height: 120%;
}
.footer ul {
    list-style: none;
    columns: 2 12em;
}

.titleR {
    text-align: right;
    padding-right: 50px;
    color: #16cc68;
    font-size: 24px;
    line-height: 50px;
}
.buttonsR {
    padding-right: 50px;
    text-align: right;
}
.buttonsR a {
    color: white;
    line-height: 35px;
}
.buttonsR a:hover {
    color: #16cc68;
}

.titleS {
    text-align: left;
    padding-left: 50px;
    color: #16cc68;
    font-size: 24px;
    line-height: 50px;
}
.buttonsS {
    padding-left: 50px;
    text-align: left;
}
.buttonsS a {
    color: white;
    line-height: 35px;
}
.buttonsS a:hover {
    color: #16cc68;
}
.cc {
    margin-top: 40px;
    text-align: center;
    color: white;
    font-size: 15px;
}
a {
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    header {
        padding-top: 10px;
    }
    body {
        overflow-x: hidden;
    }
    .nav-links {
        z-index: 1;
        position: absolute;
        min-width: 100%;
        right: 0px;
        background-color: rgb(39, 39, 39);
        box-shadow: 2px 8px 14px 0px rgba(12, 12, 12, 0.596);
        flex-direction: column;
        transform: translateX(100%);
    }
    .menu-bar ul li {
        z-index: 1;
        margin-top: 80px;
        margin-bottom: 50px;
        text-align: center;
        width: 100%;
    }
    .menu-bar ul li:hover {
        background-color: rgb(39, 39, 39);
        border-radius: 50px;
        padding: 0px 30px 50px 30px;
        transform-origin: center;
        height: 300px;
    }
    .menu-bar ul li:first-child:hover {
        height: 100%;
        padding: 0px 30px 0px 30px;
    }

    .nav-links li {
        opacity: 0;
    }
    .menu-bar ul li:hover .sub-menu-1 {
        display: flex;
        position: fixed;
        background-color: rgb(39, 39, 39);
        box-shadow: none;
        min-width: 100%;
        border-radius: 15px;
        margin-top: 10px;
    }
    .menu-bar ul li:hover .sub-menu-1 ul {
        margin-top: 50px;
        width: 100%;
        display: block;
    }
    .menu-bar ul li:hover .sub-menu-1 ul li {
        margin-top: -30px;
        width: 100%;
        align-self: center;
        text-align: center;
        border-bottom: 1px dotted #16cc68;
        background: transparent;
        border-radius: 0;
    }
    .menu-bar ul li:hover .sub-menu-1 ul li:hover {
        height: 40px;
    }
    .menu-bar ul li:hover .sub-menu-1 ul li:last-child {
        border-bottom: 1px dotted #16cc68;
    }

    .hover-me:hover .sub-menu-2 {
        position: absolute;
        display: none;
    }

    .burger {
        display: block;
    }
    .footer ul {
        list-style: none;
        columns: 1 12em;
    }
    .footer .titleR {
        padding: 0 0;
        text-align: center;
    }
    .footer .titleS {
        margin-top: 50px;
        padding: 0 0;
        text-align: center;
    }
    .footer .buttonsR {
        padding: 0 0;
        text-align: center;
    }
    .footer .buttonsS {
        padding: 0 0;
        text-align: center;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    form {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 18px;
    }
    header h1,
    header h2 {
        font-size: 2em;
    }
    header p {
        font-size: 1.1rem;
    }
    .cards {
        flex-direction: row;
    }
    .card {
        margin: 2rem;
    }
}

/* ================================= Standard ================================= */

footer {
    display: none;
}
