<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400">
    <title>Hoppala</title>
    <link rel="stylesheet" href="./error.css">
</head>
<body>

    <div class="error-box">
        <div class="logo-box">
        </div>
        <h2 class="error-number">Ups, </h2>
        <h3 class="error-message">Dieser Eintrag existiert leider nicht.</h3>
        <p class="error-description">
            Es gibt zwei Möglichkeiten.<br>
            1.) Du hast erkannt wie wir Einträge identifiziere.<br>
            <b>oder</b><br>
            2.) Du hast einen kritischen Fehler gefunden. In diesem Fall informiere uns bitte über das <a style="color: #16cc68; text-decoration: none;" href="../../shs/team/">Kontakformular</a>.
        </p>
        <a href="../index.php" class="error-cta">Zurück zur Hauptseite</a>
    </div>

</body>
</html>