* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.kontaktformular {
    /*gesamter Bereich*/
    width: 100%;
    background: #323232;
    background-position: center;
    background-size: cover;
    position: absolute;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.unten-abstand {
    margin-bottom: 1rem;
}

.form-box {
    width: 400px;
    /*wichtig*/
    height: 800px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 15px;
    overflow: hidden;
    border-radius: 50px;
}

.button-box {
    /*Lehrer u. Schüler Button*/
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px whitesmoke;
    /*#ff61241f*/
    border-radius: 50px;
    /*background:#16cc68;/*red*/
    /*border-radius: 30px;
  padding: 10px 45px;
  border-radius: 50px;*/
}

.nachhilfe {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

.nachhilfe:focus {
    color: black;
}

#platt {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #16cc68, #16cc68);
    /*background: linear-gradient(to right, #ff105f, #ffad06);*/
    border-radius: 30px;
    transition: .5s;
}

.oben-abstand {
    margin-top: 2rem;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #16cc68;
    /*#999*/
    outline: none;
    background: transparent;
}

.input-label {
    width: 100%;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    /* border-bottom: 1px solid #16cc68 ; */
    outline: none;
    background: transparent;
    color: #777;
    font-size: 14px;
}

.anmeldungshs {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #16cc68, #16cc68);
    /*background: linear-gradient(to right, #ff105f, #ffad06);*/
    border: 0;
    outline: none;
    border-radius: 30px;
}

.chech-box {
    margin: 30px 5px 20px 0;
}

#datenschutz {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#datenverlinkung {
    color: #16cc68;
    text-decoration: none;
}

#lehrer {
    left: 50px;
}

#schueler {
    left: 450px;
}

#box {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    /*border-bottom: 4px solid red;*/
    background: transparent;
    font-family: sans-serif;
    font-size: 15px;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: #656565;
    /*#f7f6ff*/
    overflow-x: hidden;
}

h2 {
    margin: 16px;
}

.container {
    margin-top: 10px;
}

.select-box {
    position: relative;
    display: flex;
    width: 400px;
    flex-direction: column;
}

.select-box .options-container {
    background: #2f3640;
    color: #f5f6fa;
    max-height: 0;
    width: 70%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
}

.selected {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 2px;
    /*8px*/
    color: #f5f6fa;
    position: absolute;
    /*relative*/
    order: 0;
}

.selected::after {
    content: "";
    /*background: url("../../assets/Schülerrats-Logo\ querformat.JPG");*/
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
    transition: all 0.4s;
}

.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    margin-top: 54px;
}

.select-box .options-container.active+.selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover {
    background: #414b57;
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}


/* Searchbox */

.search-box input {
    width: 70%;
    padding: 12px 16px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    position: absolute;
    border-radius: 8px 8px 0 0;
    border: 8px solid #2f3640;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

.search-box input:focus {
    outline: none;
}

.select-box .options-container.active~.search-box input {
    opacity: 1;
    pointer-events: auto;
}

footer {
    bottom: 0px;
    width: 100%;
    background: black;
    margin: 0;
    padding: 0;
    color: #fff;
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.box h2:hover {
    color: #16cc68;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: black;
}

.box .content::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #16cc68;
    /*red*/
    top: -10px;
    ;
}

.left .content p {
    text-align: justify;
}

.left .content .social {
    padding: 0 2px;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: black;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    color: #fff;
}

.left .content .social a span:hover {
    background: #16cc68;
    /*red*/
}

.center .content .fas {
    font-size: 1.4375rem;
    background: black;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fas:hover {
    background: #16cc68;
    /*red*/
}

.center .content .text {
    font-size: 1.0626rem;
    font-weight: 500;
    padding-left: 10px;
    color: #fff;
}

.center .content .phone {
    margin: 10px 0;
}

.right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2.5px;
    color: #fff;
}

.right form .msg {
    margin-top: 10px;
}

.right form input,
.right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    /*background:#16cc68; red*/
    /*border-radius: 30px;*/
    border-radius: 50px;
    border-color: #16cc68;
}

.right form input:focus {
    outline-color: #16cc68;
}

.right form textarea:focus {
    outline-color: #16cc68;
}

.right form input {
    height: 35px;
}

.right form .fgh {
    margin-top: 10px;
}

.right form .fgh button {
    height: 40px;
    width: 100%;
    background: #16cc68;
    /*red*/
    /*border-radius: 30px;*/
    padding: 10px 45px;
    border-radius: 50px;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 3s;
    color: #fff;
}

.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: black;
}

.bottom center span {
    color: #fff;
}

.bottom center a {
    color: #fff;
    text-decoration: none;
}

.bottom center a:hover {
    text-decoration: underline;
}


/* ================================= Standard ================================= */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background: #323232;
    margin-top: 150px;
}

body p {
    padding: 70px;
    color: #fff;
    text-decoration: none;
}

body h1 {
    text-align: center;
    padding: 70px;
    color: #fff;
    text-decoration: none;
}

body h3 {
    padding: 70px;
    color: #fff;
    text-decoration: none;
}

header {
    margin: 100px 50px 0 50px;
    text-align: center;
    padding-top: 50px;
}

header h1 {
    font-size: 24px;
    color: white;
}

header h2 {
    font-size: 24px;
    color: #16cc68;
}

header p {
    padding-top: 50px;
    font-size: 16px;
    color: white;
    max-width: 800px;
    margin: auto;
}

#sidebar {
    position: relative;
    margin-top: -50px;
    height: 610px;
    width: 600px;
}

#sidebar ul {
    width: 600px;
    overflow-y: auto;
    position: absolute;
    height: 625px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #323232;
    box-shadow: none;
}

::-webkit-scrollbar-thumb {
    opacity: 10%;
    background: rgba(85, 85, 85, 0.39);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85);
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 39, 39);
    box-shadow: 2px 8px 14px 0px rgba(12, 12, 12, 0.596);
}

.nav-links {
    display: flex;
    justify-content: center;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
    z-index: 20;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

.menu-bar ul {
    margin: -40px 0 -40px 0;
    list-style: none;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    font-family: 'Roboto'sans-serif;
}

.menu-bar ul li {
    padding: 0 30px;
    transition: all 0.1s ease;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}

.menu-bar ul li:hover {
    background: #16cc68;
    border-radius: 50px;
    padding: 10px 30px 10px 30px;
    transform: scale(1.02);
    transform-origin: center;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: flex;
    position: fixed;
    background: rgba(20, 20, 20, 0.959);
    box-shadow: 2px 8px 14px 0px rgba(12, 12, 12, 0.596);
    border-radius: 15px;
    margin-top: 10px;
    margin-left: -32px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 20px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: center;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: #16cc68;
}

.fa-angel-right {
    float: right;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -70px;
    margin-left: 140px;
}

.nav-active {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: tomato;
}

.toggle .line2 {
    opacity: 0;
    background-color: tomato;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: tomato;
}

footer {
    background-color: rgb(39, 39, 39);
    box-shadow: 2px 0px 14px 8px rgba(12, 12, 12, 0.596);
    min-height: 150px;
    padding: 30px;
    font-family: Roboto;
    line-height: 120%
}

.footer ul {
    list-style: none;
    columns: 2 12em;
}

.titleR {
    text-align: right;
    padding-right: 50px;
    color: #16cc68;
    font-size: 24px;
    line-height: 50px
}

.buttonsR {
    padding-right: 50px;
    text-align: right;
}

.buttonsR a {
    color: white;
    line-height: 35px
}

.buttonsR a:hover {
    color: #16cc68;
}

.titleS {
    text-align: left;
    padding-left: 50px;
    color: #16cc68;
    font-size: 24px;
    line-height: 50px
}

.buttonsS {
    padding-left: 50px;
    text-align: left;
}

.buttonsS a {
    color: white;
    line-height: 35px
}

.buttonsS a:hover {
    color: #16cc68;
}

.cc {
    margin-top: 40px;
    text-align: center;
    color: white;
    font-size: 15px;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    header {
        padding-top: 10px;
    }
    body {
        overflow-x: hidden;
    }
    .nav-links {
        z-index: 1;
        position: absolute;
        min-width: 100%;
        right: 0px;
        background-color: rgb(39, 39, 39);
        box-shadow: 2px 8px 14px 0px rgba(12, 12, 12, 0.596);
        flex-direction: column;
        transform: translateX(100%);
    }
    .menu-bar ul li {
        z-index: 1;
        margin-top: 80px;
        margin-bottom: 50px;
        text-align: center;
        width: 100%;
    }
    .menu-bar ul li:hover {
        background-color: rgb(39, 39, 39);
        border-radius: 50px;
        padding: 0px 30px 50px 30px;
        transform-origin: center;
        height: 300px;
    }
    .menu-bar ul li:first-child:hover {
        height: 100%;
        padding: 0px 30px 0px 30px;
    }
    .nav-links li {
        opacity: 0;
    }
    .menu-bar ul li:hover .sub-menu-1 {
        display: flex;
        position: fixed;
        background-color: rgb(39, 39, 39);
        box-shadow: none;
        min-width: 100%;
        border-radius: 15px;
        margin-top: 10px;
    }
    .menu-bar ul li:hover .sub-menu-1 ul {
        margin-top: 50px;
        width: 100%;
        display: block;
    }
    .menu-bar ul li:hover .sub-menu-1 ul li {
        margin-top: -30px;
        width: 100%;
        align-self: center;
        text-align: center;
        border-bottom: 1px dotted #16cc68;
        background: transparent;
        border-radius: 0;
    }
    .menu-bar ul li:hover .sub-menu-1 ul li:hover {
        height: 40px;
    }
    .menu-bar ul li:hover .sub-menu-1 ul li:last-child {
        border-bottom: 1px dotted #16cc68;
    }
    .hover-me:hover .sub-menu-2 {
        position: absolute;
        display: none;
    }
    .burger {
        display: block;
    }
    .footer ul {
        list-style: none;
        columns: 1 12em;
    }
    .footer .titleR {
        padding: 0 0;
        text-align: center;
    }
    .footer .titleS {
        margin-top: 50px;
        padding: 0 0;
        text-align: center;
    }
    .footer .buttonsR {
        padding: 0 0;
        text-align: center;
    }
    .footer .buttonsS {
        padding: 0 0;
        text-align: center;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 18px;
    }
    header h1,
    header h2 {
        font-size: 2em;
    }
    header p {
        font-size: 1.1rem;
    }
    .cards {
        flex-direction: row;
    }
    .card {
        margin: 2rem;
    }
}


/* ================================= Standard ================================= */