*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}
.kontaktformular{ /*gesamter Bereich*/
height: 340%;/*wichtig*/
width: 100%;
background:#323232;
background-position: center;
background-size: cover;
position: absolute;

}

* {
  margin: 0;
  box-sizing: border-box;
}





.unten-abstand{
  margin-bottom: 1rem;
}
.form-box{
  width: 400px;/*wichtig*/
  height: 800px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 15px;
  overflow: hidden;
  border-radius: 50px;
}

.button-box{ /*Lehrer u. Schüler Button*/
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px whitesmoke; /*#ff61241f*/
  border-radius: 50px;
  /*background:#38d39f;/*red*/
  /*border-radius: 30px;
  padding: 10px 45px;
  border-radius: 50px;*/
}

.nachhilfe{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

.nachhilfe:focus {
  color: black;
}

#platt{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #38d39f,#38d39f);
  /*background: linear-gradient(to right, #ff105f, #ffad06);*/
  border-radius: 30px;
  transition: .5s;
}
.oben-abstand {
  margin-top: 2rem;

}



.input-group{
  top: 180px;
  position: absolute;
  width: 280px;
  transition: .5s;

}

.input-field   {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #38d39f ; /*#999*/
  outline: none;
  background: transparent;

}
.input-label  {
  width: 100%;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  /* border-bottom: 1px solid #38d39f ; */
  outline: none;
  background: transparent;
  color: #777;
  font-size: 14px;
}

.anmeldungshs{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #38d39f,#38d39f);
  /*background: linear-gradient(to right, #ff105f, #ffad06);*/
  border: 0;
  outline: none;
  border-radius: 30px;
}

.chech-box{
  margin: 30px 10px 30px 0;
}

#datenschutz{
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}

#datenverlinkung{
color: #38d39f;
text-decoration: none;
}
#lehrer{
  left: 50px;
}

#schueler{
  left: 450px;
}

#box{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  /*border-bottom: 4px solid red;*/
  background: transparent;
  font-family: sans-serif;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background-color:black ;
  font-family: 'Roboto' sans-serif;
}


.logo{
  color: rgb(226, 226, 226);
  position: left; /*absolute*/
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links
{
  display: flex;
  justify-content: space-around;
  width: 90%;

}

.nav-links li{
  list-style: none;
}
.nav-links a{
  color:  rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;

}

/*.menu-bar
{
  background: rgb( 0, 100, 0);
  text-align: center;
}*/

.menu-bar ul 
{
  /*display: /*inline-flex flex;*/
  list-style: none;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background-color:black ;
  font-family: 'Roboto' sans-serif;
}

.menu-bar ul li
{
  width: 120px;
  margin: 50px;
  padding: 30px;
}

.menu-bar ul li a 
{
  text-decoration: none;
  color: #fff;
}
.menu-bar ul li:hover {
  background:#38d39f;/*red*/
  /*border-radius: 30px;*/
  padding: 10px 45px;
  border-radius: 50px;
  width: auto;

}

.sub-menu-1
{
  display: none;
}

.menu-bar ul li:hover .sub-menu-1
{
  display: block;
  position: absolute;
  background:/* rgb( 0, 100, 0)*/ black;
  margin-top: 15px;
  margin-left: -15px;
  z-index: 10;
  
}
.menu-bar ul li:hover .sub-menu-1 ul
{
  display: block;
  margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;

}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
  border-bottom: none;

}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
  color: #38d39f;/*#b2ff00*/

}
.fa-angel-right
{
  float: right;
}
.sub-menu-2
{
  display: none;

}
.hover-me:hover .sub-menu-2
{
  position: absolute;
  display: block;
  margin-top: -40px;
  margin-left: 140px;
 /* background: rgb( 0, 100, 0);*/

}

@media screen and (max-width: 1024px){
  .nav-links{
      width: 60%; 
  }
}

@media screen and (max-width: 768px){
  body{
      overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 152vh;
    top: 15vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 10;
    overflow-x: hidden;
  }
.nav-links li{
      opacity: 0
  }

.burger {
  display: block;
}

}
.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  form{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background:#656565;  /*#f7f6ff*/
}

h2 {
  margin: 16px;
}

.container {
  margin-top: 10px;
  
  
}

.select-box {
  position: relative;
  display: flex;
  width: 400px;
  flex-direction: column;
 
}

.select-box .options-container {
  background:  #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 70%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.selected {
  background: #2f3640;
  border-radius: 8px;
  margin-bottom: 2px; /*8px*/
  color: #f5f6fa;
  position: absolute; /*relative*/

  order: 0;
}

.selected::after {
  content: "";
  /*background: url("../../assets/Schülerrats-Logo\ querformat.JPG");*/
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
  margin-top: 54px;
  
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #414b57;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

/* Searchbox */

.search-box input {
  width: 70%;
  padding: 12px 16px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  position: absolute;
  border-radius: 8px 8px 0 0;
  border: 8px solid #2f3640;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.search-box input:focus {
  outline: none;
}

.select-box .options-container.active ~ .search-box input {
  opacity: 1;
  pointer-events: auto;
}


/*footer {
  bottom: 0px;
  width: 100%;
  background: black;
  margin: 0;
  padding: 0;
  color:#fff;
}
.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.box h2:hover{
color:#38d39f ;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
  
}
.box .content:before {
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: black;
}
.box .content::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #38d39f;/*red
  top: -10px;
  ;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: black;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
  color: #fff;
}
.left .content .social a span:hover {
  background: #38d39f; /*red
}
.center .content .fas {
  font-size: 1.4375rem;
  background: black;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50px;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: #38d39f;/*red
}
.center .content .text {
  font-size: 1.0626rem;
  font-weight: 500;
  padding-left: 10px;
  color: #fff;
}
.center .content .phone {
  margin: 10px 0;
}
.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2.5px;
  color: #fff;
}
.right form .msg {
  margin-top: 10px;
}
.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  /*background:#38d39f;/*red*/
  /*border-radius: 30px;
  padding: 10px 45px;
  border-radius: 50px;

  border-color: #38d39f;

}
.right form input:focus {
outline-color: #38d39f;
}
.right form textarea:focus {
  outline-color: #38d39f;
}
.right form input {
  height: 35px;
}
.right form .fgh {
  margin-top: 10px;
}
.right form .fgh button {
  height: 40px;
  width: 100%;
  background:#38d39f;/*red*/
  /*border-radius: 30px;
  padding: 10px 45px;
  border-radius: 50px;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 3s;
  color: #fff;
}
.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: black;
}
.bottom center span {
  color: #fff;
}
.bottom center a {
  color: #fff;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer {
      position: relative;
      bottom: 0px;
  }
  .main-content {
      flex-wrap: wrap;
      flex-direction: column;
  }
  .main-content .box {
      margin: 5px 0;
  }
}
a {
  text-decoration: none;
}*/