.chatUI {
  display: none;
}

video {
  display: none;
}

.leaveCall {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100%;
  background-color: #D82121;
  color: white;
}

footer {
  display: none;
}

.joinCall {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100%;
  background-color: #16cc68;
  color: white;
}

.callUI {
  left: 10px;
  position: absolute;
}

.geogebraweb {
  margin-top: 60px !important;
  width: 100% !important;
  z-index: 0 !important;
}

#submenuDynamicLinks {
  min-height: initial !important;
} 

* {
  margin-top: 0px;
  padding: 0px;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

html {
  font-size: 62.5%;
}

footer {
  bottom: 0px;
  width: 100% !important;
  background: black;
  margin: 0;
  padding: 0;
  color:#fff;
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.box h2:hover{
color:#16cc68 ;
}

.box .content {
  margin: 20px 0 0 0;
  position: relative;
  
}

.box .content:before {
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: black;
}

.box .content::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #16cc68;/*red*/
  top: -10px;
  ;
}

.left .content p {
  text-align: justify;
}

.left .content .social {
  padding: 0 2px;
}

.left .content .social a span {
  height: 40px;
  width: 40px;
  background: black;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
  color: #fff;
}

.left .content .social a span:hover {
  background: #16cc68; /*red*/
}

.center .content .fas {
  font-size: 1.4375rem;
  background: black;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50px;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas:hover {
  background: #16cc68;/*red*/
}

.center .content .text {
  font-size: 1.0626rem;
  font-weight: 500;
  padding-left: 10px;
  color: #fff;
}

.center .content .phone {
  margin: 10px 0;
}

.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2.5px;
  color: #fff;
}

.right form .msg {
  margin-top: 10px;
}

.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  /*background:#16cc68;/*red*/
  /*border-radius: 30px;*/
  padding: 10px 45px;
  border-radius: 50px;

  border-color: #16cc68;

}

.right form input:focus {
outline-color: #16cc68;
}

.right form textarea:focus {
  outline-color: #16cc68;
}

.right form input {
  height: 35px;
}

.right form .fgh {
  margin-top: 10px;
}

.right form .fgh button {
  height: 40px;
  width: 100%;
  background:#16cc68;/*red*/
  /*border-radius: 30px;*/
  padding: 10px 45px;
  border-radius: 50px;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 3s;
  color: #fff;
}

.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: black;
}

.bottom center span {
  color: #fff;
}

.bottom center a {
  color: #fff;
  text-decoration: none;
}

.bottom center a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  footer {
      position: relative;
      bottom: 0px;
  }

  .main-content {
      flex-wrap: wrap;
      flex-direction: column;
  }

  .main-content .box {
      margin: 5px 0;
  }
}

a {
  text-decoration: none;
}

fieldset {
  color: black;

}

body {
  color: white;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
  font-family: "Lobster", sans-serif;
  font-weight: lighter;
}

h2 {
  padding: 50px;
  padding-top: 150px;
  font-size: 8rem;
  font-family: "Lobster", sans-serif;
  font-weight: lighter;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

p {
  font-size: 2.5rem;
}

li {
  font-size: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

.home {
  background: #323232;
}

.showcase {
  display: grid;
  min-height: 90vh;
  -ms-grid-columns: 10% (minmax(5rem, 1fr)) 10%;
  /*[3]*/
  grid-template-columns: 10% repeat(3, minmax(5rem, 1fr)) 10%;
  -ms-grid-rows: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.showcase h2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.showcase img {
  border-radius: 50px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  height: 50%;/*100*/
  -o-object-fit: cover;
  object-fit: cover;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

.showcase .info {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.showcase .info h3 {
  padding-bottom: 3rem;
}

.features-container {
  background: #323232;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.features-container .wave {
  position: absolute;
  left: 0;
  bottom: -25%;
  width: 100%;
  z-index: -1;
}

.features {
  min-height: 90vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.features .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: black;
}

.features .cards .card {
  background: white;
  margin: 0rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-radius: 2rem;
  overflow: hidden;
}

.features .cards .card h4 {
  margin: 2rem 0rem 1rem 0rem;
}

.features .cards .card p {
  padding: 2rem;
}

.features .cards .card img {
  width: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.anmeldung {
  background: #323232;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}


.anmeldung h2 {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.anmeldung h2 {
  top: 25%;
}

img {
  height: 25vh;

}

@media screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }

  .showcase {
    -ms-grid-columns: 10% 1fr 10%;
    grid-template-columns: 10% 1fr 10%;
  }

  .showcase img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .showcase img,
  .showcase h2,
  .showcase .info {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    text-align: center;
  }

  .features {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .features h2 {
    margin-top: 5rem;
  }

  .features .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

  .features .cards .card {
    margin: 5rem 0rem;
  }

  .anmeldung {
    overflow: hidden;
  }

  .anmeldung h2 {
    font-size: 5rem;
    text-align: center;
  }
}

.anmeldung {
  color: black;
}

#erstelle {
  width: 70%;
  /* margin: 1em auto; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ================================= Standard ================================= */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
font-family: 'Roboto';
  background: #323232;
}
.bod {
  padding: 70px;
  color: #fff;
  text-decoration: none;
}
header {
  margin: 100px 50px 0 50px;
text-align: center;
padding-top: 50px;
}

header h1 {
font-size: 24px;
color: white;
}
header h2 {
font-size: 24px;
color: #16cc68;
}
header p {
  padding-top: 50px;
font-size: 16px;
color: white;
max-width: 800px;
margin: auto;
}


#sidebar{
  position:relative;
  margin-top: -50px;
  height:610px;
  width:600px;
}
#sidebar ul{
  width:600px;
  overflow-y:auto;
  position:absolute;
  height:625px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #323232;
  box-shadow: none;
}
::-webkit-scrollbar-thumb {
  opacity: 10%;
  background: rgba(85, 85, 85, 0.39);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(85, 85, 85);
}


nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;

  min-height: 50px;
display: flex;
align-items: center;
justify-content: center;
  background-color: rgb(39, 39, 39);
box-shadow: 2px 8px 14px 0px rgba(12, 12, 12, 0.596);
}

.nav-links {
  display: flex;
  justify-content: center;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: rgb(226, 226, 226);
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}


.burger {
  display: none;
  cursor: pointer;
  z-index: 20;
 
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}


.menu-bar ul {
  margin: -40px 0 -40px 0;
  list-style: none;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  font-family: 'Roboto'sans-serif;

}

.menu-bar ul li {
  padding: 0 30px;
  transition: all 0.1s ease;
}

.menu-bar ul li a {
  text-decoration: none;
  color: #fff;
}

.menu-bar ul li:hover {
  background:#16cc68;
  border-radius: 50px;
  padding: 10px 30px 10px 30px;
  transform:scale(1.02);
  transform-origin: center;
}
.sub-menu-1 {
  display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
  display: flex;
  position: fixed;
  background: rgba(20, 20, 20, 0.959);
box-shadow: 2px 8px 14px 0px rgba(12, 12, 12, 0.596);
  border-radius: 15px;
  margin-top: 10px;
  margin-left: -32px;

  z-index: 10 !important;
}

.menu-bar ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 20px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: center;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
  border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
  color:  #16cc68;
}

.fa-angel-right {
  float: right;
}

.sub-menu-2 {
  display: none;

}

.hover-me:hover .sub-menu-2 {
  position: absolute;
  display: block;
  margin-top: -70px;
  margin-left: 140px;
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: tomato;
}

.toggle .line2 {
  opacity: 0;
  background-color: tomato;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  background-color: tomato;
}

footer {
  background-color: rgb(39, 39, 39);
box-shadow: 2px 0px 14px 8px rgba(12, 12, 12, 0.596);
  min-height: 150px;
  padding: 30px;
  font-family: Roboto;
  line-height:120%
}
.footer ul {
  list-style: none;
  columns: 2 12em;
}

.titleR {
  text-align: right;
  padding-right: 50px;
  color: #16cc68;
  font-size: 24px;
  line-height:50px
}
.buttonsR{
  padding-right: 50px;
  text-align: right;
}
.buttonsR a{
  color: white;
  line-height:35px
}
.buttonsR a:hover{
  color: #16cc68;
}

.titleS {
  text-align: left;
  padding-left: 50px;
  color: #16cc68;
  font-size: 24px;
  line-height:50px
}
.buttonsS {
  padding-left: 50px;
  text-align: left;
}
.buttonsS a{
  color: white;
  line-height:35px
}
.buttonsS a:hover{
  color: #16cc68;
}
.cc {
  margin-top: 40px;
  text-align: center;
  color: white;
  font-size: 15px;
}
a {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  header {
      padding-top: 10px;
  }
  body {
      overflow-x: hidden;
  }
  .nav-links {
      z-index: 1;
      position: absolute;
      min-width: 100%;
      right: 0px;
      background-color: rgb(39, 39, 39);
      box-shadow: 2px 8px 14px 0px rgba(12, 12, 12, 0.596);
      flex-direction: column;
      transform: translateX(100%);
  }
  .menu-bar ul li {
      z-index: 1;
      margin-top: 80px;
      margin-bottom: 50px;
      text-align: center;
      width: 100%;
  }
  .menu-bar ul li:hover {
      background-color: rgb(39, 39, 39);
      border-radius: 50px;
      padding: 0px 30px 50px 30px;
      transform-origin: center;
      height: 300px;
  }
  .menu-bar ul li:first-child:hover {
      height: 100%;
      padding: 0px 30px 0px 30px;
  }
  
  .nav-links li {
      opacity: 0;
  }
  .menu-bar ul li:hover .sub-menu-1 {
      display: flex;
      position: fixed;
      background-color: rgb(39, 39, 39);
      box-shadow: none;
      min-width: 100%;
      border-radius: 15px;
      margin-top: 10px;
  }
  .menu-bar ul li:hover .sub-menu-1 ul {
      margin-top: 50px;
      width: 100%;
      display: block;
  }
  .menu-bar ul li:hover .sub-menu-1 ul li {
      margin-top: -30px;
      width: 100%;
      align-self: center;
      text-align: center;
      border-bottom: 1px dotted #16cc68;
      background: transparent;
      border-radius: 0;
  }
  .menu-bar ul li:hover .sub-menu-1 ul li:hover {
      height: 40px;
  }
  .menu-bar ul li:hover .sub-menu-1 ul li:last-child {
      border-bottom: 1px dotted #16cc68;
  }

  .hover-me:hover .sub-menu-2 {
      position: absolute;
      display: none;
  }
  


  .burger {
      display: block;
  }
  .footer ul {
      list-style: none;
      columns: 1 12em;
  }
  .footer .titleR {
      padding: 0 0;
      text-align: center;
  }
  .footer .titleS {
      margin-top: 50px;
      padding: 0 0;
      text-align: center;
  }
  .footer .buttonsR {
      padding: 0 0;
      text-align: center;
  }
  .footer .buttonsS {
      padding: 0 0;
      text-align: center;
  }
}


.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  form {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}


@media only screen and (min-width: 1200px) {
body {
  font-size: 18px;
}
header h1,
header h2 {
  font-size: 2em;
}
header p {
  font-size: 1.1rem;
}
.cards {
  flex-direction: row;
}
.card {
  margin: 2rem;
}
}


/* ================================= Standard ================================= */